################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/EFCoreNavPropInit/.vs/EFCoreNavPropInit/v15
