################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/EFCoreNavPropInit/.vs/EFCoreNavPropInit/v15
/EFCoreNavPropInit/EFCoreNavPropInit/bin/Debug/netcoreapp2.0
/EFCoreNavPropInit/EFCoreNavPropInit/obj
